/*
 * For importing all assets for the light variant of the theme.
 */


/******************************************************************************
 *                                    Borders                                 *
 ******************************************************************************/


/* From widgets/buttons.css */
button,
button.flat:hover,
button.link:hover,
/* From widgets/color-choosers.css */
colorswatch#add-color-button,
/* From widgets/lists-and-views.css */
calendar.header,
entry progress,
/* From widgets/menus-and-popups.css */
menu > arrow,
menubar,
/* From widgets/miscellaneous.css */
toolbar,
.emoji-picker stack scrolledwindow + box,
/* From widgets/notebooks.css */
notebook > stack:not(:only-child),
notebook > header > tabs > tab,
/* From widgets/ranges.css */
scrollbar > contents > trough > slider,
scale > contents > trough > slider,
/* From widgets/window-decorations.css */
.titlebar:backdrop,
/* From application-styles/wnck.css */
wnck-tasklist > button.flat,
/* From application-styles/mate-panel.css */
MatePanelAppletFrameDBus > MatePanelAppletFrameDBus
{
	border-image-source: url('../gtk-assets/light/borders/border.png');
}


/* From widgets/buttons.css */
button:active,
button:checked,
button.flat:active,
button.flat:checked,
button.link:active,
button.link:checked,
switch,
/* From widgets/color-choosers.css */
colorswatch,
/* From widgets/lists-and-views.css */
calendar,
/* From widgets/miscellaneous.css */
statusbar > *,
statusbar button:not(:active):not(:checked),
/* From application-styles/wnck.css */
wnck-tasklist > button.flat:active,
wnck-tasklist > button.flat:checked
{
	border-image-source: url('../gtk-assets/light/borders/border-sunken.png');
}


/* From widgets/color-choosers.css */
colorchooser box.popover,
/* From widgets/menus-and-popups.css */
menu,
popover,
.app-notification,
/* From widgets/window-decorations.css */
* > decoration,
/* From application-styles/mate-panel.css */
#MatePanelPopupWindow,
/* From application-styles/lightdm.css */
#login_window,
#shutdown_dialog,
#restart_dialog
{
	border-image-source: url('../gtk-assets/light/borders/menu-border.png');
}


/* From widgets/frames.css */
frame > border
{
	border-image-source: url('../gtk-assets/light/borders/frame-border.png');
}


/* From widgets/lists-and-views.css */
entry,
textview,
:not(stack) > list,
/* From application-styles/caja.css */
widget.entry:not(:selected)
{
	border-image-source: url('../gtk-assets/light/borders/entry-border.png');
}


/******************************************************************************
 *                            Combo Box Separators                            *
 ******************************************************************************/


/* From widgets/miscellaneous.css */
combobox button.combo cellview + arrow,
combobox button.combo arrow:first-child:dir(rtl)
{
	border-image-source: url('../gtk-assets/light/separators/combobox-separator.png');
}


/******************************************************************************
 *                                  Scale Ticks                               *
 ******************************************************************************/


/* From widgets/ranges.css */
scale.horizontal > contents > trough > slider
{
	background-image: url('../gtk-assets/light/miscellaneous/scale-tick-horizontal.png');
}


/* From widgets/ranges.css */
scale.vertical > contents > trough > slider
{
	background-image: url('../gtk-assets/light/miscellaneous/scale-tick-vertical.png');
}


/******************************************************************************
 *                            GtkPaned Separators                             *
 ******************************************************************************/


/* From widgets/separators.css */
paned.horizontal > separator
{
	background-image: url('../gtk-assets/light/separators/paned-separator-vertical.png');
	min-width: 5px;
}


/* From widgets/separators.css */
paned.vertical > separator
{
	background-image: url('../gtk-assets/light/separators/paned-separator-horizontal.png');
	min-height: 5px;
}


/******************************************************************************
 *                                   Arrows                                   *
 ******************************************************************************/

/* From widgets/ranges.css */
scrollbar.horizontal > contents > button.up,
/* From widgets/expanders.css */
expander > title > arrow:dir(rtl)
{
	background-image: url('../gtk-assets/light/arrows/arrow-left.png');
}


/* From widgets/ranges.css */
scrollbar.horizontal > contents > button.down,
/* From widgets/expanders.css */
expander > title > arrow:dir(ltr)
{
	background-image: url('../gtk-assets/light/arrows/arrow-right.png');
}


/* From widgets/ranges.css */
scrollbar.horizontal > contents > button.up:disabled,
/* From widgets/expanders.css */
expander > title > arrow:disabled:dir(rtl)
{
	background-image: url('../gtk-assets/light/arrows/arrow-left-disabled.png');
}


/* From widgets/ranges.css */
scrollbar.horizontal > contents > button.down:disabled,
/* From widgets/expanders.css */
expander > title > arrow:disabled:dir(ltr)
{
	background-image: url('../gtk-assets/light/arrows/arrow-right-disabled.png');
}


/* From widgets/ranges.css */
scrollbar.vertical > contents > button.up
{
	background-image: url('../gtk-assets/light/arrows/arrow-up.png');
}


/* From widgets/ranges.css */
scrollbar.vertical > contents > button.down,
/* From widgets/expanders.css */
expander > title > arrow:checked
{
	background-image: url('../gtk-assets/light/arrows/arrow-down.png');
}


/* From widgets/ranges.css */
scrollbar.vertical > contents > button.up:disabled
{
	background-image: url('../gtk-assets/light/arrows/arrow-up-disabled.png');
}


/* From widgets/ranges.css */
scrollbar.vertical > contents > button.down:disabled,
/* From widgets/expanders.css */
expander > title > arrow:disabled:checked
{
	background-image: url('../gtk-assets/light/arrows/arrow-down-disabled.png');
}


/* From widgets/miscellaneous.css */
combobox button.combo arrow
{
	background-image: url('../gtk-assets/light/arrows/combobox-arrows.png');
}


/* From widgets/miscellaneous.css */
combobox:disabled button.combo arrow
{
	background-image: url('../gtk-assets/light/arrows/combobox-arrows-disabled.png');
}


/******************************************************************************
 *                                    Checks                                  *
 ******************************************************************************/


/* From widgets/menus-and-popups.css */
menuitem > check:checked
{
	-gtk-icon-source: url('../gtk-assets/light/checks/menu-item-check.png');
}


/* From widgets/menus-and-popups.css */
menuitem > check:checked:disabled
{
	-gtk-icon-source: url('../gtk-assets/light/checks/menu-item-check-disabled.png');
}


/* From widgets/menus-and-popups.css */
menuitem:hover > check:checked
{
	-gtk-icon-source: url('../gtk-assets/light/checks/menu-item-check-hover.png');
}


/* From widgets/menus-and-popups.css */
menuitem > radio:checked
{
	-gtk-icon-source: url('../gtk-assets/light/checks/menu-item-radio.png');
}


/* From widgets/menus-and-popups.css */
menuitem > radio:checked:disabled
{
	-gtk-icon-source: url('../gtk-assets/light/checks/menu-item-radio-disabled.png');
}


/* From widgets/menus-and-popups.css */
menuitem:hover > radio:checked
{
	-gtk-icon-source: url('../gtk-assets/light/checks/menu-item-radio-hover.png');
}


/******************************************************************************
 *                                    Miscellany                              *
 ******************************************************************************/

/* From application-styles/mate-panel.css */
MatePanelAppletFrameDBus > MatePanelAppletFrameDBus
{
	background-image: url("../gtk-assets/light/miscellaneous/panel-item-grip.png");
}
