@define-color light_base_color                              #ffffff;
@define-color base_color                                    #dcdad5;
@define-color dark_base_color                               #777777;
@define-color darkest_base_color                            #000000;

@define-color bg_color                                      @base_color;
@define-color fg_color                                      #000000;
@define-color theme_bg_color                                @bg_color;
@define-color theme_fg_color                                @fg_color;

@define-color selected_bg_color                             #49667f;
@define-color selected_fg_color                             #ffffff;
@define-color selected_unfocused_bg_color                   #9c9a94;
@define-color selected_unfocused_fg_color                   #ffffff;

@define-color tooltip_bg_color                              #eee1b3;
@define-color tooltip_fg_color                              #000000;

@define-color link_color                                    #0000ee;
@define-color visited_link_color                            #551a8b;

@define-color color_1                                       #777777;
@define-color color_2                                       @light_base_color;
@define-color color_3                                       #cccccc;

@define-color insensitive_fg_color                          #777777;
@define-color insensitive_text_shadow_color                 #ffffff;

@define-color hover_bg_color                                #eeeeee;

@define-color colored_border_fg_color                       #000000;
@define-color colored_border_insensitive_text_shadow_color  #ffffff;
@define-color error_destructive_bg_color                    #f03838;
@define-color info_bg_color                                 #ffffbf;
@define-color question_suggested_bg_color                   #8cb0d7;
@define-color warning_bg_color                              #fcaf3e;

@define-color destructive_hover_bg_color                    shade(@error_destructive_bg_color, 1.1);
@define-color suggested_hover_bg_color                      shade(@question_suggested_bg_color, 1.1);

@import url('main.css');
@import url('gtk-assets.css');
