/*
 * Frames
 */


frame
{
	margin: 0 4px;
}

frame > border
{
	margin: 0 -4px;
	padding: 2px;
	border-image-width: 2px;
	border-image-slice: 2;
}

frame > border.flat,
statusbar > frame > border,
statusbar > widget > frame > border
{
	border: none;
	padding: 0;
}


/*
 * Add a simpler, more generic frame around any other normal node that requests
 * a frame
 */
.frame.view
{
	border: 1px solid @color_1;
}
