/* MATE Screensaver */

/* Unlock dialog */
.lock-dialog
{
	border-image-source: url('../gtk-assets/menu-border.png');
	border-image-width: 2px;
	border-image-slice: 2;
}

.lock-dialog notebook > stack
{
	border-image: none;
}


/* MATE Panel */

MatePanelAppletFrameDBus > MatePanelAppletFrameDBus {
	border-image-source: url('../gtk-assets/button-border.png');
	border-image-width: 1px 0 2px 0;
	border-image-slice: 1 2 2 1;
	background-repeat: repeat-y;
	background-position: left;
	background-image: url("../gtk-assets/grip.png");
	background-size: 10px 3px;
}

PanelWidget menubar
{
	border: none;
	padding: 0;
}

wnck-tasklist > button.flat
{
  border-image-source: url('../gtk-assets/button-border.png');
  border-image-width: 1px 2px 2px 1px;
  border-image-slice: 1 2 2 1;
}

wnck-tasklist > button.flat:active,
wnck-tasklist > button.flat:checked
{
  border-image-source: url('../gtk-assets/button-border-pressed.png');
  border-image-width: 2px 1px 1px 2px;
  border-image-slice: 2 1 1 2;
}

/*wnck-pager
{
  border-image-source: url('../gtk-assets/entry-border.png');
  border-image-width: 2px;
  border-image-slice: 2;
  padding: 2px;
}*/
