/*
 * All of the following are special style rules for Caja's "icon view" widget,
 * used on the Caja desktop and in Caja windows in "Icon View" and "Compact
 * View" modes.
 */

.view > widget.view
{
	background-color: @color_2;
}

.view > widget.view:selected
{
	background-color: @selected_bg_color;
}

.view > widget.view:selected,
.view > widget.view:selected *
{
	color: @selected_fg_color;
}

widget.view.rubberband
{
	background-color: alpha (@selected_bg_color, 0.6);
}
