/* MATE Panel */

/* The panel menubar doesn't need a whole lot of padding -- adding the padding
 * has the effect of oversizing the panel and thus all the icons on the panel.
 */
PanelWidget menubar
{
	border: none;
	padding: 0;
}


/*
 * Give some panel widgets (like the window list and the notification area)
 * a draggable grip.
 */
MatePanelAppletFrameDBus > MatePanelAppletFrameDBus
{
	border-image-width: 1px 0 2px 0;
	border-image-slice: 1 2 2 1;
	background-repeat: repeat-y;
	background-position: top left;
	background-size: 10px 3px;
}


/* Add a nice menu-like border around the Calendar popup, etc. */
#MatePanelPopupWindow
{
	border-image-width: 2px;
	border-image-slice: 2;
	padding: 2px;
}
