/*
 * Miscellaneous widgets that don't fit anywhere else, and would furthermore
 * be pointless to include in their own files since it'd be at most one or two
 * CSS declarations.
 *
 * Please don't put anything here unless it really meets the above criteria.
 */


/*
 * Status bars
 *
 * Buttons that were packed into status bars in GTK+ 2 appeared sunken, some
 * of the few buttons that always appeared sunken at the time.  Some GTK+ 3
 * applications still do this -- for example, the Pluma text editor -- so we
 * handle the case where buttons appear in the status bar.
 */

statusbar > *,
statusbar button:not(:active):not(:checked)
{
	border-image-source: url('../../gtk-assets/common/borders/border-sunken.png');
	border-image-width: 2px 1px 1px 2px;
	border-image-slice: 2 1 1 2;
	padding: 4px;
}


/*
 * Tooltips
 *
 * This is probably the simplest part of the theme, and certainly one of the
 * only sure-fire, entirely complete parts of the theme.
 */

tooltip.background
{
	background-color: @tooltip_bg_color;
	border: 1px solid @tooltip_fg_color;
}


/* Toolbars
 *
 * You'd think there'd be a better place for this, but no, it really doesn't
 * seem to fit in anywhere else, IMHO.
 */

toolbar
{
	border-image-source: url('../../gtk-assets/common/borders/border.png');
	border-image-width: 1px 2px 2px 1px;
	border-image-slice: 1 2 2 1;
	padding: 3px;
}


/* Places sidebar:  Used primarily in the file chooser. */

/*
 * Add a small space between the folder / bookmark / drive image and the
 * name of the place.
 */
placessidebar list > row box > image
{
	margin-right: 6px;
}

/*
 * Don't make Eject Volume buttons look like full-fledged button widgets,
 * complete with the gray background and pseudo-3D border.  Otherwise,
 * the result looks ugly and doesn't accurately reflect what GTK+ 2 used
 * to do.
 *
 * Also remove that padding that is applied to all other buttons.
 */
placessidebar button.sidebar-button
{
	background: transparent;
	border: none;
	padding: 0;
}


/* Combo boxes */

combobox button.combo arrow
{
	min-width:  17px;
	min-height: 17px;
	-gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
}

/*
 * Add a separator line to the arrow, to make it look like there's a separator
 * between the text of the combo box and the arrow.
 */
combobox button.combo cellview + arrow
{
	border-image: url('../../gtk-assets/common/separators/combobox-separator.png') 0 0 0 2 / 0 0 0 2px;
	padding-left: 2px;
}

combobox button.combo arrow:first-child:dir(rtl)
{
	border-image: url('../../gtk-assets/common/separators/combobox-separator.png') 0 2 0 0 / 0 2px 0 0;
	padding-right: 2px;
}


/*
 * The emoji picker, that "wonderful" addition to GTK+ (3.24?) entry widgets.
 */

.emoji-picker stack scrolledwindow
{
	background-color: @color_2;
}

.emoji-picker stack scrolledwindow > viewport > box > label
{
	background-color: @selected_bg_color;
	color: @selected_fg_color;
	font-weight: bold;
}

.emoji-picker stack scrolledwindow + box
{
	border-image-source: url('../../gtk-assets/common/borders/border.png');
	border-image-width: 1px 2px 2px 1px;
	border-image-slice: 1 2 2 1;
	padding: 3px;
}


/* The GTK About dialog */

/* Give the credits section a white background, as if it were a textview */
dialog .dialog-vbox scrolledwindow.frame > viewport.view.frame
{
	background-color: @color_2;
}


/* The paper widget used by the Print dialog */

paper
{
	background-color: @color_2;
}
